/* defaults and headings */

Page {
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.padding {
    padding: 10;
}

.p {
    font-size: 16;
    margin: 0 0 10 0;
}

.hr {
    height: 1;
    background-color: #cdcdcd;
}

.left {
    horizontal-align: left;
    text-align: left;
}

.right {
    text-align: right;
    horizontal-align: right;
}

.center {
    horizontal-align: center;
    text-align: center;
}

.h1 {
    font-size: 36;
    margin-bottom: 10;
    font-weight: 700
}

.h2 {
    font-size: 30;
    margin: 10 0 10 0;
}

.h3 {
    font-size: 24;
    margin: 10 0 10 0;
}

.h4 {
    font-size: 18;
    margin: 10 0 10 0;
}

.h5 {
    font-size: 14;
    margin: 10 0 10 0;
}

.h6 {
    font-size: 12;
    margin: 10 0 10 0;
}

/* ionicons */

.tns-ionicon {
    font-family: "Ionicons", ionicons;
}

.tns-ionicon-large {
    font-family: "Ionicons", ionicons;
    font-size: 26;
}

/* base colors */

.ionic-light {
    color: #f8f8f8;
}

.ionic-stable {
    color: #b2b2b2;
}

.ionic-positive {
    color: #387ef5;
}

.ionic-calm {
    color: #11c1f3;
}

.ionic-balanced {
    color: #33cd5f;
}

.ionic-energized {
    color: #ffc900;
}

.ionic-assertive {
    color: #ef473a;
}

.ionic-royal {
    color: #886aea;
}

.ionic-dark {
    color: #444;
}

/* forms */

.form {
    margin: 0 0 20 0;
    padding: 0;
}

.form .button {
    margin: 0 0 0 10;
    padding: 0;
}

.form switch {
    margin-right: 16;
}

.form .form-item {
    padding: 10 16 10 16;
}

.form .input {
    padding-top: 2;
}

.form .input-inset {
    background-color: #eee;
    border-radius: 2;
    padding: 8;
}

.form .input-label {
    font-size: 18;
    padding: 4 0 5 0;
    color: #444;
}

.form-inset {
    margin: 10;
    border-width: 1;
    border-color: #ddd;
}


/* listviews */

.listview {
    color: black;
}

.listview .item {
    padding: 16 10 16 16;
    font-size: 16;
    color: #444;
}

.listview .item .h2 {
    margin: 0;
    margin: 0;
    font-size: 20;
}

.listview .item .p {
    font-size: 14;
    color: #666;
    margin: 0;
}

.listview-inset {
    margin: 10;
    border-width: 1;
    border-color: #ddd;
    border-radius: 2;
}

.item-avatar image {
    border-radius: 20;
    width: 40;
    height: 40;
}

.item-avatar stacklayout, .item-thumbnail stacklayout {
    padding-left: 16;
}

.item-divider {
    background-color: #f5f5f5;
    color: #222;
    font-weight: bold;
}


/* buttons */

.button {
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    color: #444;
    margin: 5;
    padding: 7 2;
    border-width: 1;
    border-style: solid;
    border-radius: 2;
    text-align: center;
    font-size: 18;
    line-height: 42;
}

.button-small {
    font-size: 14;
    width: 200;
}

.button-large {
    font-size: 26;
}

.button-light {
    border-color: #ddd;
    background-color: #fff;
    color: #444;
}

.button-stable {
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    color: #444;
}

.button-positive {
    border-color: #0c60ee;
    background-color: #387ef5;
    color: #fff;
}

.button-calm {
    border-color: #0a9dc7;
    background-color: #11c1f3;
    color: #fff;
}

.button-balanced {
    border-color: #28a54c;
    background-color: #33cd5f;
    color: #fff;
}

.button-energized {
    border-color: #e6b500;
    background-color: #ffc900;
    color: #fff;
}

.button-assertive {
    border-color: #e42112;
    background-color: #ef473a;
    color: #fff;
}

.button-royal {
    border-color: #6b46e5;
    background-color: #886aea;
    color: #fff;
}

.button-dark {
    border-color: #111;
    background-color: #444;
    color: #fff;
}

/* buttons - outlined */

.button-light-outlined {
    border-color: #ddd;
    background-color: transparent;
    color: #ddd;
}

.button-stable-outlined {
    border-color: #b2b2b2;
    background-color: transparent;
    color: #b2b2b2;
}

.button-positive-outlined {
    border-color: #387ef5;
    background-color: transparent;
    color: #387ef5;
}

.button-calm-outlined {
    border-color: #11c1f3;
    background-color: transparent;
    color: #11c1f3;
}

.button-balanced-outlined {
    border-color: #33cd5f;
    background-color: transparent;
    color: #33cd5f;
}

.button-energized-outlined {
    border-color: #ffc900;
    background-color: transparent;
    color: #ffc900;
}

.button-assertive-outlined {
    border-color: #ef473a;
    background-color: transparent;
    color: #ef473a;
}

.button-royal-outlined {
    border-color: #886aea;
    background-color: transparent;
    color: #886aea;
}

.button-dark-outlined {
    border-color: #444;
    background-color: transparent;
    color: #444;
}

/* buttons - clear */

.button-light-clear {
    border-color: transparent;
    background-color: transparent;
    color: #ddd;
}

.button-stable-clear {
    border-color: transparent;
    background-color: transparent;
    color: #b2b2b2;
}

.button-positive-clear {
    border-color: transparent;
    background-color: transparent;
    color: #387ef5;
}

.button-calm-clear {
    border-color: transparent;
    background-color: transparent;
    color: #11c1f3;
}

.button-balanced-clear {
    border-color: transparent;
    background-color: transparent;
    color: #33cd5f;
}

.button-energized-clear {
    border-color: transparent;
    background-color: transparent;
    color: #ffc900;
}

.button-assertive-clear {
    border-color: transparent;
    background-color: transparent;
    color: #ef473a;
}

.button-royal-clear {
    border-color: transparent;
    background-color: transparent;
    color: #886aea;
}

.button-dark-clear {
    border-color: transparent;
    background-color: transparent;
    color: #444;
}

/* action bars */

.action-bar-light {
    background-color: #f8f8f8;
    color: #444;
}

.action-bar-stable {
    background-color: #b2b2b2;
    color: #444;
}

.action-bar-positive {
    background-color: #387ef5;
    color: #fff;
}

.action-bar-calm {
    background-color: #11c1f3;
    color: #fff;
}

.action-bar-balanced {
    background-color: #33cd5f;
    color: #fff;
}

.action-bar-energized {
    background-color: #ffc900;
    color: #fff;
}

.action-bar-assertive {
    background-color: #ef473a;
    color: #fff;
}

.action-bar-royal {
    background-color: #886aea;
    color: #fff;
}

.action-bar-dark {
    background-color: #444;
    color: #fff;
}

/* switches */
/* using nativescript-platform-css plugin to utilize .ios and .android shortcuts :) */

.switch-light {
    background-color: #f8f8f8;
    color: #b2b2b2;
}

.android .switch-light {
    background-color: #f0f0f0;
}

.switch-stable {
    background-color: #b2b2b2;
    color: #fafafa;
}

.android .switch-stable {
    color: #c9c9c9;
}

.switch-positive {
    background-color: #387ef5;
    color: #fafafa;
}

.android .switch-positive {
    color: #387ef5;
}

.switch-calm {
    background-color: #11c1f3;
    color: #fafafa;
}

.android .switch-calm {
    color: #11c1f3;
}

.switch-balanced {
    background-color: #33cd5f;
    color: #fafafa;
}

.android .switch-balanced {
    color: #33cd5f;
}

.switch-energized {
    background-color: #ffc900;
    color: #fafafa;
}

.android .switch-energized {
    color: #ffc900;
}

.switch-assertive {
    background-color: #ef473a;
    color: #fafafa;
}

.android .switch-assertive {
    color: #ef473a;
}

.switch-royal {
    background-color: #886aea;
    color: #fafafa;
}

.android .switch-royal {
    color: #886aea;
}

.switch-dark {
    background-color: #444;
    color: #fafafa;
}

.android .switch-dark {
    color: #444;
}


/* sliders */

.slider-light {
    background-color: #f8f8f8;
}

.slider-stable {
    background-color: #b2b2b2;
}

.slider-positive {
    background-color: #387ef5;
}

.slider-calm {
    background-color: #11c1f3;
}

.slider-balanced {
    background-color: #33cd5f;
}

.slider-energized {
    background-color: #ffc900;
}

.slider-assertive {
    background-color: #ef473a;
}

.slider-royal {
    background-color: #886aea;
}

.slider-dark {
    background-color: #444;
}

/* checkboxes */
.checkbox {
    font-family: "Ionicons", ionicons;
    font-size: 35;   
}